@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SFRounded';
    font-display: 'auto';
    font-weight: 400;
    src: url('/fonts/subset-SFRounded-Regular.woff2') format('woff2'),
         url('/fonts/subset-SFRounded-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'SFRounded-Bold';
    font-display: 'auto';
    font-weight: 400;
    src: url("/fonts/subset-SFRounded-Bold.woff2") format("woff2"),
         url("/fonts/subset-SFRounded-Bold.woff") format("woff");
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #E8F2FE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
